body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header { 
    text-align: center; 
    padding: 20px; 
    font-size: 24px; 
    font-weight: bold; 
    background-color: green;
    position: fixed; 
    top: 0; 
    width: 100%;
}

header a{
    text-decoration: none;
    color: white;
}

.menu { 
    position: fixed;
    top: 20px; 
    left: 30px; 
    cursor: pointer; 
    font-size: 24px; 
    z-index: 2;
    color: green;
}
        
.sidebar { 
    position: fixed; 
    left: -250px; 
    top: 0; 
    width: 300px; 
    height: 100%; 
    background: white; 
    color: green; 
    padding: 20px; 
    transition: 0.3s; 
    z-index: 1;
}
        
.sidebar a { 
    display: block; 
    color: green; 
    text-decoration: none; 
    padding: 10px 0; 
}

.sidebar a:hover { 
    background: lightgreen; 
}
        
.content { padding: 30vh 5vw 20vh 10vw;}
        
.stats { 
    display: flex; 
    justify-content: space-around; 
}
        
.stat-box { 
    background: #f0f0f0; 
    padding: 20px; 
    border-radius: 8px; 
    width: 30%; 
    text-align: center; 
}